nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, rgb(117, 119, 119),rgb(0, 0, 0));
} 

.list{
    list-style-type:none;
    background: linear-gradient(45deg, rgb(117, 119, 119),rgb(0, 0, 0));
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.item{
    margin-right:20px;
    font-size:12px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor:pointer;
}

.btn1{
    display:none;
    position :absolute;
    padding: 0px;
    background-color:  rgb(16, 197, 197);
    font-size: 20px;
    color:rgb(114, 114, 114);
    border: none;
}

@media screen and (max-width:500px) {
    .list{
        flex-direction:column;
        height: auto;
    }
    .item:nth-child(1){
        border-top: 1px solid rgb(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .item{
        width:100%;
        border-top: 1px solid rgb(255, 255, 255, 0.555);
        text-align: center;
        margin-right:0px;
        padding: 20px 0;
        font-size: 10px;
    }
    .btn1{
        display: block;
        top: 0px;
        border: none;
    }
    
}